.secaoContato{
    width: 100%;
    color: #fff;
    padding: 100px 20px;
    background-color: #05031b;
}

.conteudoContato{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.paragrafo{
    max-width: 1024px;
    text-align: center;
    line-height: 30px;
}

.areaComunicacao{
    width: 1024px;
    display: flex;
    flex-wrap: wrap;
}

.containerContato{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

figure{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

figure img{
    width: 30px;
    height: 30px;
}