.secaoContato{
    width: 100%;
    color: #fff;
    padding: 100px 20px;
    background-color: #05031b;
}

.conteudoContato{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.paragrafo{
    max-width: 1024px;
    text-align: center;
    line-height: 30px;
}

.areaComunicacao{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.containerContato{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerContato h4{
    margin-left: 15px;
}

figure{
    width: 300px;
    height: 50px;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

figure img{
    width: 26px;
    height: 26px;
    margin-right: 5px;
}

figure a{
    color: #fff;
}

@media only screen and (max-width: 550px) {
    .secaoContato{
        padding-top: 50px;
    }
    .paragrafo{
        font-size: 14px;
    }

    .areaComunicacao{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .containerContato{
        width: 270px;
    }

    .containerContato h4{
        font-size: 18px;
    }

    figure{
        width: 200px;
        height: 22px;
        margin: 0 auto;
        justify-content: left;
        align-items: center;
    }

    figure img{
        width: 18px;
        height: 25px;
        margin-top: 9px;
    }

    figure p{
        font-size: 14px;
    }

    figure a{
        font-size: 14px;
    }
}