footer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #030303;
    color: #adadad;
}

@media only screen and (max-width: 550px) {
    footer{
        height: 80px;
        font-size: 12px;
    }
}